html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    background: none;
  }

  
  .container {
    color: white;
    text-align: center;
    margin-top: 8%;
    width: 500px;
  }

.display-3 {
    font-weight: normal;
}

  .display-4 {
    font-size: 31px;
  }

  .form-control {
      /* width: 450px; */
  }

  #signInForm {
      display: none;
  }

  .toggleForms {
      color: rgb(16, 100, 255);
      cursor: pointer;
  }


.navbar {
  /* background-color: aqua !important; */
}



/* SIDE BAR */
.list-group-item {
  /* background-color: black !important; */
  width: 16.6rem;
}

#search {
  height: 28px;
}
  #wrapper {
    overflow-x: hidden;
 }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -16.9rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;

  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -16.9rem;
    }
  }

  /* PAGE CONTENT */

