html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    background: none;
  }

  .container {
    color: white;
    text-align: center;
    margin-top: 8%;
    width: 500px;
  }


.display-3 {
    font-weight: normal;
}

  .display-4 {
    font-size: 31px;
  }


  #signInForm {
      display: none;
  }

  .toggleForms {
      color: rgb(16, 100, 255);
      cursor: pointer;
  }


#sidebar-wrapper {
  /* background-color: aqua !important; */
  /* border-right: gray 1px solid !important; */
}

/* SIDE BAR */
.list-group-item {
  /* background-color: black !important; */
  width: 16.5rem;
  border-left: 0 !important;

}

.selected{
  border-left: gray 7px solid !important;
  background-color: lightgrey !important;
}

.fa-calendar {
  margin-top: 10px;
}

#search {
  height: 28px;
  /* font-size: 16px; */
}

.sidebar-heading{
  /* border-bottom: gray 1px solid !important; */
  background-color: #F0F0F0 !important;

}
  #wrapper {
    overflow-x: hidden;
 }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -16.9rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;

  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -16.9rem;
    }
  }

  /* PAGE CONTENT */
  textarea:focus, input.note-form:focus{
    outline: none;
}

textarea:focus, input.note-form:focus{
  -webkit-appearance:none;
  box-shadow: none !important;
  background-color: #F0F0F0 !important;
}

.hidden {
  display: none;
}

.form-control .note-form {
  border: 0 !important;
  /* border-bottom: gray 1px solid !important; */
  border-radius: 0;
  /* background-color: rgb(215, 215, 215) !important; */
  background-color: white !important;
}

#title {
  font-size: 25px;
  font-weight: bold;
}

.form-group .note-form {
  margin-top: 18px;
}

button.delete, button.star {
  width: 40px;
  /* border-radius: 100%; */
  
  position: relative;
  left: 10px;
  /* float: right; */
  /* color: white; */
}

button.star {
  margin-bottom: 4px;
}

iframe {
  border: none;
}

input[type="text"]:disabled {
  background: #ffffff !important;
  text-align: end;
}